{% extends "base.html" %}

{% block import %}
<script src="https://telegram.org/js/telegram-web-app.js"></script>
<link rel="stylesheet" href="/static/css/wallet_styles.css">
{% endblock %}

{% block content %}
<div class="container">
    <header class="header-container">

    </header>
    <hr>
    <div class="balance-container">
        <p>97.25 $</p>
    </div>
    <div class="utility-container">
        <div id="in">

        </div>
        <div id="out">

        </div>
    </div>
    <div class="actives-container">
        <!-- actives -->
    </div>
    <hr>
    <footer>

    </footer>

    <script>

    </script>

    <!-- Eruda -->
    <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init();</script>
</div>
{% endblock %}