{% extends "base.html" %}

{% block import %}
<script src="https://telegram.org/js/telegram-web-app.js"></script>
<link rel="stylesheet" href="/static/css/wallet.css">
{% endblock %}

{% block content %}
<div class="container">

    <div id="overlay" class="overlay"></div>

    <header class="header-container">
        <p>Interface: <span style="color: #0088cd">{{wallet_data['interface']}}</span></p>
        <div id="get-phrase">
            <p>Seed Phrase</p>
        </div>
    </header>
    <hr>
    <div class="balance-container">
        <p>{{wallet_data['balance']}} $</p>
        <span>{{wallet_data['shorten_address']}}</span>
    </div>
    <div class="utility-container">
        <div class="item" id="open-bottom-sheet-receive">
            <img height="auto" width="45" src="/static/img/Inbox.png">
            <span>Receive</span>
        </div>
        <div class="item" id="open-bottom-sheet-send">
            <img height="auto" width="45" src="/static/img/Outbox.png">
            <span>Send</span>
        </div>
    </div>
    <hr>
    <div class="assets-container">
<!--        <p style="font-size: 1.2rem; color: #7d7d7d;">Assets</p>-->


        {% for asset in wallet_data['assets'].values() %}

        <div class="card">
            <div class="icon">
                <img src="/static/img/Toncoin.png">
            </div>
            <div class="content">
                <div class="title">{{ asset['name'] }}</div>
                <div class="subtitle"> {{ asset['value'] }} {{ asset['symbol'] }}</div>
            </div>
            <div class="price">{{ asset['price'] }} $</div>
        </div>
        {% endfor %}
    </div>
    <hr>
    <footer>
        <div class="card">
            <div class="icon">
                <img src="/static/img/Folder.png">
            </div>
            <div class="content">
                <div class="history">Transactions History</div>
            </div>
            <div class="arrow">›</div>
        </div>
    </footer>

    <div id="bottom-sheet-receive" class="bottom-sheet">
        <span class="close">&times;</span>
        <div class="bottom-sheet-content">
            <img height="auto" width="130" src="/static/img/Inbox.png" alt="Inbox">
            <h1>Receive Toncoin</h1>
            <p>Use this address to receive Toncoin or <span style="color: #0088cd">TON</span> network tokens, otherwise you may lose your funds.</p>
            <div id="address-container">
                {{wallet_data['address']}}
            </div>
            <div class="button-container">
                <button class="copy-button" onclick="copyToClipboard()" data-address="{{wallet_data['address']}}">Copy Address</button>
            </div>
        </div>
    </div>

    <div id="bottom-sheet-send" class="bottom-sheet">
        <span class="close">&times;</span>
        <div class="bottom-sheet-content">
            <img height="auto" width="130" src="/static/img/Outbox.png" alt="Inbox">
            <h1>Send Toncoin</h1>
            <p>Please fill in the required fields.</p>

            <form id="send-form">
                <input type="text" name="amount" placeholder="Amount">
                <input type="text" name="address" placeholder="Address">
                <input type="text" name="memo" placeholder="Memo (Optional)">
                <div class="form-button-container">
                    <button type="submit" class="submit-button">Send</button>
                    <button type="reset" class="reset-button">Clear</button>
                </div>
            </form>

        </div>
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const openBtnReceive = document.getElementById('open-bottom-sheet-receive');
            const openBtnSend = document.getElementById('open-bottom-sheet-send');
            const bottomSheetReceive = document.getElementById('bottom-sheet-receive');
            const bottomSheetSend = document.getElementById('bottom-sheet-send');
            const overlay = document.getElementById('overlay');
            const closeBtns = document.querySelectorAll('.close');

            openBtnReceive.addEventListener('click', function() {
                bottomSheetReceive.classList.add('show');
                overlay.style.display = 'block';
            });

            openBtnSend.addEventListener('click', function() {
                bottomSheetSend.classList.add('show');
                overlay.style.display = 'block';
            });

            closeBtns.forEach(btn => {
                btn.addEventListener('click', function() {
                    bottomSheetReceive.classList.remove('show');
                    bottomSheetSend.classList.remove('show');
                    overlay.style.display = 'none';
                });
            });

            window.addEventListener('click', function(event) {
                if (event.target === overlay) {
                    bottomSheetReceive.classList.remove('show');
                    bottomSheetSend.classList.remove('show');
                    overlay.style.display = 'none';
                }
            });
        });


        function copyToClipboard() {
            const button = document.querySelector('.copy-button');
            const addressToCopy = button.getAttribute('data-address');

            navigator.clipboard.writeText(addressToCopy)
                .then(() => {
                    button.innerText = 'Copied';
                    button.style.border = '2px solid seagreen';
                })
                .catch(err => {
                    console.error('Could not copy seed-phrase: ', err);
                });
        }
    </script>
</div>
{% endblock %}