{% extends "base.html" %}

{% block import %}
<link rel="stylesheet" href="/static/css/wallet_created.css">
{% endblock %}

{% block content %}
<div class="container">
    <header class="header">
        <div class="logo">
            <img height="auto" width="130" src="/static/img/Key.png">
        </div>
        <div id="topic-text">
            <div><b>Seed Phrase</b></div>
            <p>Write down your seed phrase on paper and keep it in a safe place. It is needed to restore <span style="color: #0088cd">access</span> to your wallet.</p>
        </div>
    </header>

    <div class="mnemonic-container">
        <ol class="column">
            {% for i in range(0, 12) %}
            <li>{{ wallet_mnemonic_phrase[i] }}</li>
            {% endfor %}
        </ol>
        <ol class="column" start="13">
            {% for i in range(12, 24) %}
            <li>{{ wallet_mnemonic_phrase[i] }}</li>
            {% endfor %}
        </ol>
    </div>

    <div class="button-container">
        <button class="copy-button" onclick="copyToClipboard()" data-phrase="{{ wallet_mnemonic_phrase | join(' ') }}">Copy Phrase</button>
    </div>

    <script>
        const tg = window.Telegram.WebApp;
        tg.expand();

        tg.MainButton.text = "Skip And Continue";

        tg.MainButton.onClick(function() {
            openWallet();
        });

        tg.MainButton.show();

        function copyToClipboard() {
            const button = document.querySelector('.copy-button');
            const textToCopy = button.getAttribute('data-phrase');

            navigator.clipboard.writeText(textToCopy)
                .then(() => {
                    button.innerText = 'Copied';
                    button.style.border = '2px solid seagreen';
                    tg.MainButton.text = "Let's Start!";
                })
                .catch(err => {
                    console.error('Could not copy seed-phrase: ', err);
                });
        }

        function openWallet() {
            const userId = tg.initDataUnsafe.user.id
            window.location.href = `/wallet?user_id=${userId}`;
        }
    </script>
</div>
{% endblock %}