{% extends "base.html" %}

{% block import %}
<script src="https://telegram.org/js/telegram-web-app.js"></script>
<link rel="stylesheet" href="/static/css/welcome_styles.css">
{% endblock %}

{% block content %}
<div class="container">
    <header class="header">
        <div class="logo">
            <img height="auto" width="160" src="/static/img/welcome_logo.JPEG">
        </div>
        <div id="topic-text">
            <div><b>TonPlex</b></div>
            <p>Explore the freedom of a noncustodial web crypto wallet on
                the <span style="color: #0088cd">TON</span> network.</p>
        </div>
    </header>
    <div class="buttons-container">
        <button>Hey</button>
        <button>Dob</button>
    </div>

    <pre id="objectDisplay"></pre>

    <script>
        console.log('Telegram Web App script started');
        Telegram.WebApp.ready();

            const tg = Telegram.WebApp;
            let user = tg.initDataUnsafe.user;


            // let user = {
            //     name: "John",
            //     age: 30,
            //     city: "New York"
            // };

            tg.MainButton.text = "Let's Start!";
            tg.MainButton.show()

            if (user) {
                console.log('Telegram Web App initDataUnsafe available');
                console.log('User data:', user);

                if (user) {
                    const userJsonString = JSON.stringify(user, null, 2);
                    document.getElementById('objectDisplay').textContent = userJsonString;

                    fetch('/api/save_user_id', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({user_id: user.id}),
                    }).then(response => console.log('Data sent:', response))
                        .catch(error => console.error('Error sending data:', error));

                } else {
                    document.getElementById('objectDisplay').innerText = 'User data not available';
                    console.error('User data not available');
                }
            } else if (!tg) {
                document.getElementById('objectDisplay').innerText = 'Telegram Web App SDK не инициализирован';
                console.error('Telegram Web App SDK не инициализирован');
            }
    </script>

<!--    &lt;!&ndash; Eruda &ndash;&gt;-->
<!--    <script src="https://cdn.jsdelivr.net/npm/eruda"></script>-->
<!--    <script>eruda.init();</script>-->
</div>
{% endblock %}