{% extends "base.html" %}

{% block import %}
<link rel="stylesheet" href="/static/css/welcome_styles.css">
{% endblock %}

{% block content %}
<div class="container">
    <header class="header">
        <div class="logo">
            <img height="auto" width="160" src="/static/img/welcomelogo.png">
        </div>
        <div id="topic-text">
            <div><b>TonPlex</b></div>
            <p>Explore the freedom of a noncustodial web crypto wallet on
                the <span style="color: #0088cd">TON</span> network.</p>
        </div>
    </header>
    <div class="buttons-container">
        <button id="create-wallet">Create New Wallet</button>
        <button id="import-wallet">Import Existing Wallet</button>
    </div>

    <script>
        const tg = window.Telegram.WebApp;

        document.getElementById('create-wallet').addEventListener('click', function() {
            const userModel = {
                allows_write_to_pm: true,
                first_name: 'Dania',
                id: 9097,
                language_code: 'en',
                last_name: 'Muliar',
                username: 'yamuliar'
            };

            // const userModel = tg.initDataUnsafe.user

            fetch('/wallet_setup/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(userModel)
            })
                .then(response => {
                    if (response.ok) {
                        window.location.href = response.url;
                    } else {
                        return response.json().then(data => {
                            console.error('Error:', data);
                        });
                    }
                })
                .catch(error => console.error('Error:', error));
        });
    </script>

</div>
{% endblock %}