{% extends "base.html" %}

{% block import %}
<script src="/static/js/welcome.js"></script>
<link rel="stylesheet" href="/static/css/welcome_styles.css">
{% endblock %}

{% block content %}
<div class="container">
    <header class="header">
        <div class="logo">
            <img height="auto" width="160" src="/static/img/welcome_logo.JPEG">
        </div>
        <div id="topic-text">
            <div><b>TonPlex</b></div>
            <p>Explore the freedom of a noncustodial web crypto wallet on
                the <span style="color: #0088cd">TON</span> network.</p>
        </div>
    </header>
    <div class="buttons-container">
        <button id="create-wallet">Create New Wallet</button>
        <button id="import-wallet">Import Existing Wallet</button>
    </div>

    <script>
        document.getElementById('create-wallet').addEventListener('click', function() {
            window.location.href = '/wallet_setup/create';
        });
    </script>

</div>
{% endblock %}