
* {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;

    overflow: hidden;

    background-color: black;
    /*background-color: #111113;*/
    color: #ecf6ff;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
