
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

hr {
    border: none;
    height: 1px;
    /*background-color: #353637;*/
    width: 100%;
    margin: 20px auto;
}


.balance-container p {
    margin-top: 40px;
    text-align: center;
    font-size: 2.9rem;
    margin-bottom: 3px;
}

.balance-container span {
    display: block;
    text-align: center;
    color: #7d7d7d;
    margin-bottom: 35px;
}

.utility-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.utility-container .item {
    margin: 0 30px;

    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #7d7d7d;

    width: 130px;
    height: 95px;
    padding: 10px;
    box-sizing: border-box;
}

.item span {
    margin-top: 5px;
}

.assets-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.card:hover {
    background-color: #333538;
    transition: 0.4s ease;
}

.card {
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 14px;
    padding: 10px;
    width: 360px;
    box-sizing: border-box;
    background-color: #1c1c1e;
}
.icon {
    width: 50px;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.icon img {
    max-width: 100%;
    max-height: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.title {
    font-size: 1.2rem;
}
.subtitle {
    margin-left: 3px;
    font-size: 1rem;
    color: #7d7d7d;
}
.price {
    font-size: 1.2rem;
    margin-right: 5px;
}

footer {
    display: flex;
    align-content: center;
    justify-content: center;
}

.history {
    font-size: 1rem;
}

.arrow {
    margin-right: 15px;
    font-size: 1.5rem;
    color: #7d7d7d;
}


.bottom-sheet {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.8s ease-out;
    transform: translateY(100%);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #1c1c1e;
    max-height: 90%;
    overflow-y: auto;
}

.bottom-sheet.show {
    display: block;
    transform: translateY(0);
}

.bottom-sheet img {
    margin-top: 25px;
}

.bottom-sheet h1 {
    margin: 25px 0 0 0;
    padding: 0;
    color: #ffffff;
}

.bottom-sheet p {
    color: #7d7d7d;
    text-align: center;
}

.bottom-sheet #address-container {
    margin-top: 20px;
    background-color: #d6d6e4;
    color: #1c1c1e;
    border-radius: 14px;
    padding: 20px 2px;
    font-size: 1.2em;
    font-family: monospace;
    text-align: center;
    width: 90%;
}

.bottom-sheet-content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 350px;
}

.close {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 35px;
    cursor: pointer;
    color: #ffffff;
}

.button-container {
    margin-top: 23px;
    display: flex;
    justify-content: center;
}

.button-container button {
    border-radius: 15px;
    border: 2px solid #d6d6e4;
    font-size: 1em;
    transition: transform 1s ease;
    color: #d6d6e4;
    width: 140px;
    height: 45px;
    background-color: #1c1c1e;
    margin-bottom: 30px;
}