.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    padding: 10px 0;
}

.logo {
    margin-top: 50px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

#topic-text div {
    margin: 10px 0;
    font-size: 2.5em;
}

#topic-text p {
    max-width: 300px;
    margin: 0 auto;
    line-height: 1.2em;
    color: #7d7d7d;
    font-size: 1.2em;
}

.mnemonic-container {
    margin-top: 20px;
    margin-left: 30px;
    color: #ecf6ff;
    display: flex;
    justify-content: center;
}

.column {
    padding: 0;
    margin: 0 40px;
}

.column li {
    margin-bottom: 3px;
    font-size: 1.1em;
}

.column li::marker {
    color: #7d7d7d;
}

.button-container {
    margin-top: 23px;
    display: flex;
    justify-content: center;
}

.button-container button {
    border-radius: 15px;
    border: 2px solid #ecf6ff;
    font-size: 1em;
    transition: transform 0.15s ease;
    color: #ecf6ff;
    width: 140px;
    height: 45px;
    background-color: black;
}

button:hover {
    transform: scale(0.98);
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}


.indent-for-keyboard {
    padding-bottom: 0;
}


@media (hover: none) and (pointer: coarse) {
    button:active {
        transform: scale(0.95);
        transition: transform 0.2s ease;
    }
}